@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic);

*, *:after, *:before {

    box-sizing: border-box;

}

html {

    width: 100%;
    height: 100%;

    overflow: hidden;

}

.banner-art-play {

    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.4em;

    text-align: center;
    text-transform: uppercase;

}

.banner-art-play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.play:hover {

    border: medium solid rgba(255, 255, 255, 1.0);

    cursor: pointer;

}
